@{
    ViewBag.Title = "Contact";
}


<!DOCTYPE html>
<html>
<head>
    <title>The Royal-Hotel for Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/index/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Content/index/js/libs/jquery-1.6.2.min.js"></script>
    <script src="~/Content/index/js/basic-jquery-slider.js"></script>
    <script src="~/Scripts/map-google.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="wrapper">
                <div class="logo">
                    <a href="/home/reservation"><img src="~/Content/index/images/logo3.png" /></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/home/reservation"> Home </a></li>
                        <li><a href="/home/foodorder"> Food Order </a></li>
                        <li><a href="/home/images"> Images of rooms </a></li>
                        <li><a href="services.html"> Services </a></li>
                        <li class="active"><a href="/home/contact"> Contact </a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div id="container">
                    <div style="margin-left: 23px;" ng-app="HotelNWT" ng-controller="Map">
                        <div id="map"></div>
                        <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                            <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
                        </div>
                    </div>               
                </div>
               
                <div class="content">
                    <div class="content-top">
                        <div class="grid">
                            <div class="tariff">
                                <div class="text">
                                    <h2>24 hours Reception</h2>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                                    <a href="tariff.html"><p><span class="yellow">Read More</span></p></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="grid1">
                            <div class="tariff">
                                <div class="text">
                                    <h2>Breakfast</h2>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                                    <a href="tariff.html"><p><span class="yellow">Read More</span></p></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                      
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-bottom">
        <div class="wrap">
            <div class="bottom-gallery">
                <div class="bottom-image">
                    <img src="~/Content/index/images/pic.jpg">
                </div>
                <div class="bottom-image">
                    <img src="~/Content/index/images/pic4.jpg">
                </div>
                <div class="bottom-image">
                    <img src="~/Content/index/images/pic10.jpg">
                </div>
                <div class="bottom-image1">
                    <img src="~/Content/index/images/pic7.jpg">
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="footer-top">
                <div class="sub-footer">
                    <div class="footer-menu">
                        <h3>Footer Links </h3>
                        <div class="footer-pic">
                            <div class="footer-img">
                                <a href=""><img src="~/Content/index/images/pic22.jpg"></a>
                            </div>
                            <div class="footer-img">
                                <a href=""><img src="~/Content/index/images/pic23.jpg"></a>
                            </div>
                            <div class="footer-img">
                                <a href=""><img src="~/Content/index/images/pic25.jpg"></a>
                            </div>
                            <div class="footer-img">
                                <a href=""><img src="~/Content/index/images/pic24.jpg"></a>
                            </div>
                            <div class="footer-img">
                                <a href=""><img src="~/Content/index/images/pic26.jpg"></a>
                            </div>
                            <div class="footer-img">
                                <a href=""><img src="~/Content/index/images/pic27.jpg"></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="sub-footer1">
                    <h2>Recent Blogs</h2>
                    <p> It has survived not only five centuries, but also the leap into electronic. </p>
                    <p> It has survived not only five centuries, but also the leap into electronic. </p>
                    <p> It has survived not only five centuries, but also the leap into electronic. </p>
                </div>
                <div>
                    <a href="/data/signOut"><p><span class="yellow">Sign out</span></p></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2012 All rights Reserved | Design by ENES MUJIC and ADNAN SIVRO</p>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts{
    <script src="~/Scripts/AngularControllers/ReservationController.js"></script>
<script src="~/Scripts/AngularControllers/MapController.js"></script>
}
