 @{
                Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "Registration";
            }
           

            <head>
                <meta charset="utf-8" />
                <title>Login Form</title>
                <meta content="width=device-width, initial-scale=1.0" name="viewport" />
                <meta content="" name="description" />
                <meta content="" name="author" />
                <!-- BEGIN GLOBAL MANDATORY STYLES -->
                <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
                <link href="~/Content/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
                <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
                <link href="~/Content/assets/css/style-metro.css" rel="stylesheet" type="text/css" />
                <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
                <link href="~/Content/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
                <link href="~/Content/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
                <link href="~/Content/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
                <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2_metro.css" />
                <!-- END GLOBAL MANDATORY STYLES -->
                <!-- BEGIN PAGE LEVEL STYLES -->
                <link href="~/Content/assets/css/pages/login-soft.css" rel="stylesheet" type="text/css" />
                <!-- END PAGE LEVEL STYLES -->
                <link rel="shortcut icon" href="favicon.ico" />
            </head>

    
<body class="login">


    <div ng-controller="RegistrationController">

        <form class="form-vertical register-form" novalidate name="f1" ng-submit="SaveData(User)">
            <div style="color:red">{{message}}</div>
            <h3>Sign Up</h3>
            <p>Enter your personal details below:</p>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-font"></i>
                        <input class="m-wrap placeholder-no-fix" type="text" ng-model="User.Username" placeholder="Username" name="username" ng-class="submitted?'ng-dirty':''" required autofocus />
                        <span class="error" ng-show="(f1.username.$dirty || submitted) && f1.username.$error.required">Username required</span>
                    </div>
                </div>
            </div>

            <div class="control-group">

                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-envelope"></i>
                        <input class="m-wrap placeholder-no-fix" placeholder="Email" type="email" ng-model="User.Email" name="uEmail" ng-class="submitted?'ng-dirty':''" /> <!-- Not required-->
                        <span class="error" ng-show="(f1.uEmail.$dirty || submitted) && f1.uEmail.$error.email">Email not valid!</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-lock"></i>
                        <input class="m-warp placeholder-no-fix" autocomplete="off" placeholder="Password" type="password" ng-model="User.Password" name="uPassword" ng-class="submitted?'ng-dirty':''" required />
                        <span class="error" ng-show="(f1.uPassword.$dirty || submitted) && f1.uPassword.$error.required">Password required</span>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button id="register-back-btn" type="button" class="btn">
                    <i class="m-icon-swapleft"></i>  Back
                </button>
                <input type="submit" value="{{submitText}}" class="btn green pull-right" />
                Sign Up <i class=" m-icon-swapright m-icon-white">
                </i>

            </div>

        </form>




    </div>

    <script src="~/Content/assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="assets/plugins/excanvas.min.js"></script>
    <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/scripts/app.js" type="text/javascript"></script>
    <script src="~/Content/assets/scripts/login-soft.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->


</body>

            @section Scripts{
                <script src="~/Scripts/AngularControllers/RegistrationController.js"></script>
            }